blockquote, body, button, caption, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, legend, ol, p, pre, select, td, textarea, th, ul {
    margin: 0px;
    padding: 0px;
}
body {
    font: 12px/20px Arial,sans-serif;
}
body, html, legend {
    color: #333;
}
.iv_notice {
    float: left;
    overflow: hidden;
    border: 1px solid #DDD;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #DDD;
    width: 410px;
}
.iv_notice_title {
    font: bolder 12px/26px "Microsoft Yahei";
    overflow: hidden;
    width: 390px;
    height: 26px;
    padding: 0px 10px;
    color: #FFF;
    background-color: #8AB923;
}
.iv_notice_title span {
    font-weight: normal;
}
.iv_notice_con {
    float: left;
    overflow: hidden;
    padding: 10px;
    width: 390px;
}

.mNotice-mTab-tab-tray {
    margin-top: 5px;
    position: relative;
    z-index: 1;
}
.iv_notice_tab {
    padding: 0px 5px;
    height: 23px;
    width: 380px;
    list-style: outside none none;
    border-bottom: 1px solid #F60;
}
.iv_notice_tab_con.mNotice-mTab-content {
    position: relative;
    z-index: 0;
    padding: initial;
    border-top: 0px none;
}
.iv_notice_tab_con {
    width: 390px;
    margin-top: 10px;
}
.none {
    display: none;
}
.iv_notice_tab li.current {
    position: relative;
    top: -1px;
    color: #F60;
    border-width: 1px;
    border-style: solid;
    border-color: #F60 #F60 #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.iv_notice_tab li {
    font: 12px/23px "Microsoft Yahei";
    float: left;
    padding: 0px 7px;
    color: #666;
    cursor: pointer;
}
li {
    list-style: outside none none;
}
.iv_notice_tab_con.mNotice-mTab-content a{
    font: 12px/26px "Microsoft Yahei";
    display: inline-block;
    height: 26px;
    margin-top: auto;
    margin-right: 15px;
    margin-left: auto;
    padding-right: initial;
    padding-left: initial;
    text-decoration: none;
    color: #666;
    border: 0px none;
}
